.social-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: .4rem 0;
}

.social-links__element {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.social-links__element:active {
    color: var(--secondary-color);
}

.social-links__element:visited {
    color: var(--secondary-color);
}

.social-links__element {
    color: var(--secondary-color);
}

.social-links__element:hover {
    color: var(--primary-color);
}
