.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-links__element {
    margin: 0;
    padding: 0.7rem;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-links__element:active {
    color: var(--primary-color);
}

.nav-links__element:visited {
    color: var(--primary-color);
}

.nav-links__element {
    color: var(--primary-color);
}

.nav-links__element:hover {
    background: var(--accent-color);
}