@import 'components/header.css';
@import 'components/nav-links.css';
@import 'components/sticky-nav-bar.css';

@import 'pages/home.css';
@import 'pages/social-links.css';

@import 'fonts.css';

@import 'main.css';

@import 'comingsoon.css';